  /* Body */
    body {
        margin: 0%;
        padding: 0%;
        background: rgb(245, 205, 212);
        font-family: Arial, Helvetica, sans-serif; }

    .colorGuiaDatera {
        background: white;
    }

    .colorReviewSincero {
        background: rgb(219, 235, 219);
    }

    .backgroundRosado {
        background: rgb(245, 205, 212);
    }