footer {
    /* background-color: lightpink; */
    /* border-style: solid; */
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row; }
  
  .logoInstagram img {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px; }
  
  .logoPinterest img {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px; }
  
  .carousel-inner div img {
    height: 40rem; }
  
  .carousel-item img {
    height: 40rem; }
  
  .logos {
    /* border-style: solid; */
    margin-left: 24%; }
  
  .logos p {
    display: inline-block; }
  
  .frase {
    width: 15rem;
    padding: 0rem;
    margin-left: 5%;
    text-align: left;
    font-size: 13px; }
  
  .contacto {
    /* border-style: solid; */
    margin-left: 28%;
    font-size: 15px; }
  
  .copyRight {
    padding-left: 0px;
    font-size: 12px; }