header {
    width: 100%;
    height: 125px; }
  
  nav {
    width: 80%;
    height: 125px;
    float: right;
    text-align: center;
    // background-color: plum;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 45px 30px;
    // background-color: purple;
  }
  
  nav ul li a {
    color:black;
    font-size: 20px;
    text-decoration: none; }
  
  nav ul li a:hover {
    color: #c7529c; }
  
  /* Logo */
  .logo {
    width: 20%;
    height: 115px;
    float: left;
    text-align: right;
    // background-color: red;
  }
  
  .logo p a img {
    width: 200px;
    height: auto;
    display: inline-block;
    padding-top: 15px;
    // background-color: royalblue;
  }
  
  