  main {
    width: 100%;
    height: 100%;
    /* background-color: mediumpurple; */ }
  
  /* Section 1 */
  .elDatazo {
    width: 40%;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 10px;
    /* background-color: rgb(218, 231, 247); */
    padding: 0px;
    margin-top: 10%;
    margin-left: 5%; }
  
  .ilustracionDescripcion {
    /* background-color: mediumslateblue; */
    display: flex;
    flex-direction: row; }
  
  .ilustracion1 img {
    width: 350px;
    height: auto;
    /* background-color: mediumblue; */
    padding: 50px;
    margin-top: 10%;
    margin-left: 5%; }
  
  h2 {
    padding-left: 10rem;
    padding-top: 9rem;
    /* background-color: lightskyblue; */ }
  
  .primerParrafo {
    color: black;
    text-align: justify;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-right: 15rem;
    /* background-color: lime; */ }
  
  .titulo {
    color: #ddd2d8; }
  
  .colorProducto {
    color: #5141e0; }
  
  .colorDescripcion {
    color: #5571f0; }
  
  .tituloH3 {
    display: flex;
    flex-direction: column;
    /* border: solid; */
    margin-left: 4rem; }
  
  .linkExternos1 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  
  .linkExternos1 div {
    width: 9rem;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 40px 152px;
    border-style: solid;
    text-align: center; }
  
  /* Section 2 */
  
  #linkExternos2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    /* border: 1px solid black; */
    text-align: center;
    justify-content: center;
    padding: 1rem;
    height: 40vh; }
  
  .containerLinks2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    // border: 1px solid black; 
    justify-content: center;
    align-items: center;
    padding: 0.5rem; }
  
  #linkExternos2 div {
    /* background-color: rgb(116, 116, 121); */
    padding: auto 0.5rem; }
  
  .fotospost {
    width: 12rem;
    height: auto; }


    //*****Guia Datera*****//
    main{
      h1 {
      text-align: center;
      padding-top: 4rem;
      font-size: 2.5rem;
      color: rgb(250, 153, 171);
      }
      }
    
      #contenidoMenuId {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        padding: 2rem;
        padding-top: 5rem;
        padding-bottom: 1rem;

      .contenidoMenuFoto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 2rem;
        // border: 1px solid black;
        // background-color: yellow;
        padding-left: 9rem;

        .fotosContenido {
          width: 27rem;
          height: auto;
          }
        }
      }

      .contenidoMenu1 {
        // border: 1px solid black;
        // background-color: yellow;
        padding-top: 8rem;
        .tituloPink {
          padding-bottom: 2rem;
          font-size: 1.5rem;
          color: rgb(250, 153, 171);
        }
          button {
            margin-top: 1rem;
            margin-left: 15rem;
          }
        }


      //*****Guia Datera*****//

      .tituloBlue {
        color: blue;
        text-align: center;
        padding-top: 4rem;
        font-size: 2.5rem;
      }

      .tituloH4Blue {
        color: blue;
        padding-bottom: 2rem;
        font-size: 1.5rem;
      }

